name: Merging all commits

on:
  push:
    branches: [ main ]

jobs:
  squash:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Configuring Git
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"

    - name: Merging commits
      run: |
        COUNT=$(git rev-list --count HEAD)
        echo "Total commits: $COUNT"
        
        if [ $COUNT -gt 1 ]; then
          echo "Merging commits..."
          FIRST=$(git rev-list --max-parents=0 HEAD)
          git reset --soft $FIRST
          git commit -m "Game library update" -m "$(date '+%d.%m.%Y %H:%M')"
          git push --force origin main
          echo "All done!"
        else
          echo "Only one commit, Skip.)"
        fi